$main-background-color: #8000a0; // #cc0000
$main-color: #8000a0;

body {
    background-image: url(https://cdn.discordapp.com/attachments/569445055648104448/1202998135757086810/snapedit_1705247271277.jpg?ex=65cf7e52&is=65bd0952&hm=cf2dcce340b5eba66c05a11fa27daa6cef4aa664a88a7d59d51fe8c41be79bbf&);
}